<app-search-bar (videosYoutubeEmitter)="displayYoutube($event)" (videosDailymotionEmitter)="displayDailymotion($event)"></app-search-bar>

<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Tout</a>
    <ng-template ngbNavContent>
      <div class="grid">
        <div class="g-col-3" *ngFor="let video of videosYoutube">
          <app-video [video]="video"></app-video>
        </div>
        <div class="g-col-3" *ngFor="let video of videosDailymotion">
          <app-video [video]="video"></app-video>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Youtube</a>
    <ng-template ngbNavContent>
      <div class="grid">
        <div class="g-col-3" *ngFor="let video of videosYoutube">
          <app-video [video]="video"></app-video>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Dailymotion</a>
    <ng-template ngbNavContent>
      <div class="grid">
        <div class="g-col-3" *ngFor="let video of videosDailymotion">
          <app-video [video]="video"></app-video>
        </div>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
