<div class="row mb-3">
  <div class="col-md-4">
    <div class="ratio ratio-16x9 thumbnail">
      <div class="rounded overlay fs-4 text-end pe-1">
        <svg (click)="sendVideo()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-play-fill icon big-font clickable" viewBox="0 0 16 16">
          <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path>
        </svg>
      </div>
      <img [src]="video.thumbnail" alt="" class="img-fluid rounded">
    </div>
  </div>
  <div class="col-md-8">
    <h4>{{video.name}}</h4>
    <div class="author">{{video.author}}</div>
  </div>
</div>
