h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail {
  &:hover {
    cursor: pointer;
    .overlay {
      visibility: visible;
    }
  }
}

.overlay {
  position: absolute;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  visibility: hidden;
}

.big-font{
  font-size: 4.5rem;
  color: white;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 100%;
  transform: translate(-2.25rem, -2.25rem);
}
