<div class="ratio ratio-16x9 thumbnail">
  <div class="rounded overlay fs-4 text-end pe-1">
    <app-playlist-button *ngIf="isLoggedIn" [video]="video"></app-playlist-button>
    <svg (click)="showModal(content)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-play-fill icon big-font" viewBox="0 0 16 16">
      <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path>
    </svg>
  </div>
  <img [src]="video.Thumbnail" alt="" class="img-fluid rounded">
</div>
<h5>{{video.Title}}</h5>
<div class="author">{{video.Author}}</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{video.Title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="1104" height="621" [src]="trustedUrl" [title]="video.Title" allowfullscreen></iframe>
    </div>
  </div>
</ng-template>
