<div class="container">
  <button class="btn btn-outline-dark btn-lg px-5 m-3" (click)="OpenCreatePopup()">Créer</button>

  <div *ngIf="annonces.length === 0; else tableAnnonces" class="text-center m-3 fw-semibold display-5">
    Aucune Annonce n'a été créé
  </div>
  <ng-template #tableAnnonces>
    <table class="table table-bordered table-striped table-hover m-3 p-3">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>File</th>
        <th>Cout Par Clic</th>
        <th>Nombre de Vues</th>
        <th>Nombre de Clics</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let annonce of annonces">
        <td>{{ annonce.idAnnonce }}</td>
        <td>{{ annonce.name }}</td>
        <td>{{ annonce.file }}</td>
        <td>{{ annonce.coutParClic }}</td>
        <td>{{ annonce.nbreVues }}</td>
        <td>{{ annonce.nbreClics }}</td>
        <td>{{annonce.active ? 'Oui' : 'Non'}}</td>
        <td class="d-flex flex-column">
          <button class="btn btn-outline-dark btn-lg px-3" (click)="ChangeAnnonceStatus(annonce)">
            {{annonce.active ? 'Desactiver' : 'Activer'}}
          </button>
          <button class="btn btn-outline-dark btn-lg px-3" (click)="OpenUpdatePopup(annonce)">Modifier</button>
          <button class="btn btn-outline-dark btn-lg px-3" (click)="DeleteAnnonce(annonce)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</div>
